<div>
  <h1>Juego del Ahorcado</h1>
  <div *ngIf="!isGameWon() && !isGameLost()">
    <p>Palabra a adivinar: {{ getDisplayedWord() }}</p>
    <p>Letras adivinadas: {{ guessedLetters }}</p>
    <p>Intentos restantes: {{ attemptsLeft }}</p>
    <div *ngFor="let letter of alphabet">
      <button (click)="guessLetter(letter)" [disabled]="isLetterGuessed(letter) || isGameWon() || isGameLost()">
        {{ letter }}
      </button>
    </div>
  </div>
  <div *ngIf="isGameWon()">
    <p>Felicidades, ¡has ganado!</p>
    <button (click)="resetGame()">Jugar de nuevo</button>
  </div>
  <div *ngIf="isGameLost()">
    <p>Lo siento, has perdido. La palabra era: {{ wordToGuess }}</p>
    <button (click)="resetGame()">Intentarlo de nuevo</button>
  </div>
</div>

